<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/scriptPessoa.js" defer></script>
    <title>Gestão de Pessoas</title>
</head>

<body>
    <header>
        <h1>Gestão de Pessoas</h1>
    </header>

    <div class="container">
        <h2>Criar Pessoas</h2>
        <form action="">
            <label for="nomePessoa">Nome do membro:</label>
            <input type="text" class="nomePessoa" id="nomePessoa" name="nomePessoa" required>

            <label for="cpf">CPF do membro:</label>
            <input type="text" class="cpf" id="cpf" name="cpf" required>

            <label for="dataNascimento">Data de nascimento :</label>
            <input type="date" id="dataNascimento" class="dataNascimento" name="dataNascimento" required>

            <label for="isFuncionario">Funcionario ativo:</label>
            <input type="checkbox" class="isFuncionario" id="isFuncionario" name="isFuncionario" required>

            <button type="submit">Salvar pessoa</button>
        </form>

        <h2>Lista de pessoas cadastradas</h2>


        <div class="content">
            <table border="1">
                <thead>
                    <th class="center">ID do Gerente</th>
                    <th class="center">Nome do Gerente</th>
                    <th class="center">CPF do Gerente</th>
                </thead>

                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
