<!DOCTYPE html>
<html>
<head>
    <title>Gestão de Pessoas</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylePessoas.css">
</head>
<body>
    <header>
        <h1>Gestão de Pessoas</h1>
    </header>

    <div class="container">
        <h2>Criar Pessoa</h2>
        <form>
            <label for="nomePessoa">Nome da Pessoa:</label>
            <input type="text" id="nomePessoa" name="nomePessoa" required>

            <label for="emailPessoa">E-mail da Pessoa:</label>
            <input type="email" id="emailPessoa" name="emailPessoa" required>

            <button type="submit">Criar Pessoa</button>
        </form>

        <h2>Lista de Pessoas</h2>
        <ul>
            <!-- Aqui você pode listar as pessoas existentes, permitindo a edição e exclusão -->
            <li>
                Nome: Pessoa 1, E-mail: pessoa1@example.com
                <a href="#" class="edit-button">Editar</a>
                <a href="#" class="delete-button">Excluir</a>
            </li>
            <li>
                Nome: Pessoa 2, E-mail: pessoa2@example.com
                <a href="#" class="edit-button">Editar</a>
                <a href="#" class="delete-button">Excluir</a>
            </li>
            <!-- Adicione mais pessoas conforme necessário -->
        </ul>
    </div>
</body>
</html>
